FOR TABLES REFER 26.11.2024

In [ ]:
-- List all employees with their department name.

SELECT 
    e.empid AS employee_id,
    d.deptname AS department_name,
    e.salary
FROM 
    employees e
JOIN 
    department d
ON 
    e.deptid = d.deptid
ORDER BY 
    employee_id;