In [ ]:
-- 2 insert data into employees table 

INSERT INTO Employees (FirstName, LastName, Email, Department, Salary, JoiningDate)
VALUES
('Aravind', 'Kumar', 'aravind.kumar@example.com', 'Finance', 75000.50, '2022-05-01'),
('Nikitha', 'Reddy', 'nikitha.reddy@example.com', 'HR', 68000.75, '2021-08-15'),
('Mark', 'Smith', 'mark.smith@example.com', 'IT', 90000.00, '2023-01-10'),
('Ram', 'Prasad', 'ram.prasad@example.com', 'Supply Chain', 72000.25, '2020-03-20');