In [ ]:
--  2 insert data into employees table 

INSERT INTO employees (name, department, salary, joining_date, manager_id) VALUES
('Alice', 'HR', 55000.00, '2022-01-15', NULL),
('Bob', 'IT', 70000.00, '2021-03-20', 1),
('Charlie', 'Finance', 60000.00, '2020-07-10', 1),
('Diana', 'IT', 80000.00, '2023-01-05', 2),
('Eve', 'HR', 50000.00, '2023-06-25', 1);