FOR TABLES REFER 26.11.2024

In [ ]:
--  Find the department with the highest average salary.

SELECT 
    d.deptname AS department_name,
    ROUND(AVG(e.salary), 2) AS average_salary
FROM 
    department d
JOIN 
    employees e
ON 
    d.deptid = e.deptid
GROUP BY 
    d.deptname
ORDER BY 
    average_salary DESC
LIMIT 1;