In [ ]:
--  2 insert data into employees table

INSERT INTO employees (name, age, department) 
VALUES 
    ('Arjun', 30, 'Finance'),
    ('Meera', 25, 'HR'),
    ('Rohan', 35, 'IT'),
    ('Anika', 28, 'Marketing');