In [ ]:
-- 2 insert data into employees

INSERT INTO employees (name, department, salary)
VALUES 
    ('Aravind', 'Finance', 55000.00),
    ('Nikitha', 'HR', 60000.00),
    ('Ram', 'IT', 75000.00),
    ('Mark', 'Finance', 58000.00);