In [ ]:
-- INSERT  DATA INTO patients

INSERT INTO patients (name, age, gender, address, contact_number, disease, admission_date, discharge_date)
VALUES 
    ('John Doe', 45, 'Male', '123 Elm Street', '9876543210', 'Hypertension', '2024-12-01', NULL),
    ('Jane Smith', 34, 'Female', '456 Oak Avenue', '9123456789', 'Diabetes', '2024-11-25', '2024-12-05'),
    ('Arjun Kumar', 29, 'Male', '789 Maple Lane', '9865321470', 'Fracture', '2024-12-03', NULL),
    ('Priya Reddy', 50, 'Female', '321 Pine Road', '9898989898', 'Asthma', '2024-11-20', '2024-12-02');