In [ ]:
-- 2 insert data into logs table

INSERT INTO logs VALUES
(1, 1),
(2, 1),
(3, 1),
(4, 2),
(5, 1),
(6, 2),
(7, 2);