In [ ]:
-- insert data into employees table

INSERT INTO employees (employee_id, name, salary, department_id)
VALUES 
(1,'Aravind', 50000, 1),
(2,'Nikitha', 60000, 2),
(3,'Ram', 70000, 3),
(4,'Mark', 55000, 1),
(5, 'Sara', 80000, 4)