In [ ]:
-- QUESTION

-- 1. Find the name and salary of all employees in the Finance department.

SELECT e.name, e.salary
FROM employees e
JOIN departments d ON e.department_id = d.department_id
WHERE d.department_name = 'Finance';