table and data are in 22.11.2024 refer from that

In [ ]:
-- Find the department with the highest total salary.

WITH department_salaries AS (
    SELECT 
        department,
        SUM(salary) AS total_salary
    FROM employees
    GROUP BY department
)
SELECT 
    department,
    total_salary
FROM department_salaries
WHERE total_salary = (
    SELECT MAX(total_salary) FROM department_salaries
);