In [ ]:
--  1 create table employees

CREATE TABLE employees (
    employee_id SERIAL PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    department VARCHAR(30) NOT NULL,
    joining_date DATE NOT NULL,
    salary NUMERIC(10, 2) CHECK (salary > 0)
);