In [ ]:
--  2 insert data into table employees 


INSERT INTO employees (name, department, joining_date, salary)
VALUES 
    ('Aravind', 'Finance', '2022-06-01', 75000),
    ('Nikitha', 'HR', '2023-01-15', 60000),
    ('Ram', 'IT', '2021-11-20', 90000),
    ('Mark', 'Supply Chain', '2022-03-10', 80000),
    ('Sneha', 'Finance', '2023-07-05', 72000);