In [ ]:
--  2 insert table query 

INSERT INTO employee_performance (name, department, salary, joining_date, performance_rating, projects_completed) VALUES
('Aravind', 'Finance', 55000.00, '2022-01-15', 4, 8),
('Nikitha', 'HR', 48000.00, '2021-06-10', 5, 10),
('Ram', 'IT', 67000.00, '2023-03-20', 3, 6),
('Mark', 'Finance', 62000.00, '2021-11-05', 2, 4),
('Priya', 'HR', 45000.00, '2022-09-12', 4, 7);