In [ ]:
--  insert into employees table 

INSERT INTO employees (name, age, department, salary, joining_date)
VALUES 
    ('Aravind', 30, 'Finance', 60000.00, '2022-06-15'),
    ('Nikitha', 27, 'HR', 50000.00, '2021-09-10'),
    ('Ram', 35, 'IT', 75000.00, '2019-03-25'),
    ('Mark', 28, 'Finance', 55000.00, '2023-01-20'),
    ('Srinivasan', 40, 'IT', 85000.00, '2017-11-30');