THE TWO TABLES ARE IN 26.11.2024 REFER THAT

In [ ]:
-- 1 . Question: Find the total salary expense for each department along with the department name.

SELECT 
    d.deptname AS department_name,
    SUM(e.salary) AS total_salary
FROM 
    department d
JOIN 
    employees e
ON 
    d.deptid = e.deptid
GROUP BY 
    d.deptname
ORDER BY 
    total_salary DESC;