In [ ]:
-- 2 insert data into patients table

INSERT INTO Patients VALUES
(1, 'John', 'Doe', '1985-07-15', 'M', '123-456-7890'),
(2, 'Jane', 'Smith', '1992-11-23', 'F', '234-567-8901'),
(3, 'Michael', 'Johnson', '1978-03-12', 'M', '345-678-9012'),
(4, 'Emily', 'Davis', '2000-06-30', 'F', '456-789-0123'),
(5, 'Tom', 'Doe', '1982-05-17', 'M', '567-890-1234'),
(6, 'Alice', 'Green', '1990-04-25', 'F', '678-901-2345');