In [ ]:
INSERT INTO books (title, author, published_year, genre, availability_status)
VALUES
    ('The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Fiction', TRUE),
    ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction', FALSE),
    ('1984', 'George Orwell', 1949, 'Dystopian', TRUE);