In [ ]:
-- insert data into table employees

INSERT INTO employees 
VALUES 
(1, 70000, 101),
(2, 50000, 101),
(3, 60000, 101),
(4, 65000, 102),
(5, 65000, 102),
(6, 55000, 102),
(7, 60000, 103),
(8, 70000, 103),
(9, 80000, 103);