In [ ]:
--  select the 2nd highest salary of each department

select deptname,empid, salary AS salary
FROM (
    SELECT 
        d.deptname, 
		e. empid,
        e.salary,
        dense_rank() OVER (PARTITION BY e.deptid ORDER BY e.salary DESC) AS 
rnk
    FROM employees e
    JOIN department d
    ON e.deptid = d.deptid
) ranked_salaries
WHERE rnk = 2;