In [ ]:
-- 2 insert data into employees table 


INSERT INTO employees (first_name, last_name, email, phone_number, hire_date, job_id, salary, manager_id, department_id)
VALUES 
('Aravind', 'Kumar', 'aravind.kumar@company.com', '9876543210', '2024-01-03', 101, 75000.00, NULL, 10),
('Nikitha', 'Reddy', 'nikitha.reddy@company.com', '9876543211', '2023-11-20', 102, 82000.00, 1, 20),
('Mark', 'Joseph', 'mark.joseph@company.com', '9876543212', '2022-05-15', 103, 90000.00, 2, 30);