In [ ]:
-- 2 insert data into employees table 

INSERT INTO employees (first_name, last_name, email, phone_number, hire_date, job_id, salary, department_id, manager_id)  
VALUES  
('Aravind', 'Kumar', 'aravind.kumar@example.com', '9876543210', '2024-01-01', 'HR101', 75000.00, 101, NULL),
('Nikitha', 'Rao', 'nikitha.rao@example.com', '9876543211', '2023-09-15', 'FIN201', 80000.00, 102, 1),
('Mark', 'Smith', 'mark.smith@example.com', '9876543212', '2022-05-20', 'IT301', 90000.00, 103, 2);