In [ ]:
-- 2 insert data into employees table and departments table

-- Insert into departments
INSERT INTO departments (department_name)
VALUES 
    ('Finance'),
    ('HR'),
    ('IT'),
    ('Marketing');

-- Insert into employees
INSERT INTO employees (employee_name, salary, department_id)
VALUES 
    ('Alice', 75000, 1),
    ('Bob', 60000, 2),
    ('Charlie', 80000, 1),
    ('Diana', 90000, 3),
    ('Eve', 85000, 3),
    ('Frank', 50000, 4);