In [ ]:
--  insert data into table


INSERT INTO products (product_name, category, price, stock_quantity)
VALUES
    ('Laptop', 'Electronics', 75000.00, 50),
    ('Headphones', 'Electronics', 1500.00, 200),
    ('Notebook', 'Stationery', 50.00, 500),
    ('Pen', 'Stationery', 10.00, 1000),
    ('Smartphone', 'Electronics', 30000.00, 80);