In [ ]:
-- 2 insert data into tbl+_maxval

insert into tbl_maxval ("col1", "col2", "col3")
values 
('a',10,20),
('b',50,30);